Package: com.mrgcgamer.graxon
Name: Graxon
Depends: mobilesubstrate, com.peterdev.grupi
Version: 1.0.0
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: MrGcGamer
Author: MrGcGamer
Section: Tweaks
